header{
    background-color: #fff;
    color: black;
}

body {
  font-family: 'Poppins', sans-serif; 
  margin: 0;
}

*{
    box-sizing: border-box;
}

h1 {
  font-size: 2.027rem;
}


h3 {
  font-size: 1.266rem;
}

.header-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto ;
}
nav ul {
    list-style: none;
    padding: 0; 
    display: flex;
   
}

nav ul li {
    display: inline;
    padding: 5px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

.wrapper-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; 
    max-width: 1200px; 
    margin: 0 auto; 
    
  }
  



  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 20px;

  }
  
  .product-grid img {
    max-width: 1000px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }
  
  .product-info h2 {
    font-size: 1.802rem;
    font-weight: lighter;
  }
  
  .product-info p {
    margin: 5px 0;
    
  }

  .product-info p.bold {
    font-weight: bold;
}
  
  .product-info button {
    padding: 5px 10px; 
    font-size: 14px; 
    background-color: black;
    color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    margin-top: 15px;
  }
  
  
  .product-info button:hover {
    background-color: #fff;
    color: #000;
  }

  .behind-the-dough-wrapper {
    background-color: #f8fafc; 
    padding-bottom: 40px;
  }


.behind-the-dough-wrapper h2 {
  text-align: center; 
  padding-top: 40px;
  
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
  
}


.testimonial h2 {
  text-align: center; 
 color: #fff;
 padding-top: 40px;
  
}
.testimonial-wrapper {
  text-align: center; 
  display: flex;
  color: #fff; 
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}



.testimonial {
  background-color: #000; 
}

@media (min-width: 768px) {
  .testimonial {
    flex-direction: row; /* Arrange columns horizontally */
  }
}

.column {
  flex: 1;
  height: 200px;
  padding: 10px;
  margin: 5px;
  text-align: left;
  max-width: 1200px;
  
}



.try-with {
    text-align: center;
}


.try-with .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.try-with .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}


.try-with .item {
    text-align: center;
    width: 300px; 
    position: relative; 
    background-color: #f2f2f2; 
    border-radius: 10px; 
}



.try-with .item p {
    margin: 5px 0;
    
}

.try-with p.bold1{
  font-weight: bold;
}


.try-with .item img {
  width: 100%;
  height: auto;
  display: block; 
  border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}




.footer {
  background-color: #000; 
  color: #fff; 
  text-align: center; 
  padding: 20px 0; 
  margin-top: 50px;
}





